<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cupcake</title>

	<!-- Global stylesheets -->

	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

</head>
