<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body>
	<!-- Page container -->
	<div class="page-container">
    
		<!-- Page content -->
		<div class="page-content">
			{% include "partials/main-navbar.html" %}
      {% include "partials/sidebar.html" %}
      {% block content %}{% endblock %}
      {% include "partials/end.html" %}
		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>

</html>
